@page 
@model EditModel
@using WorkersTurnScheduler.Domain

<div class="container">
    <h2>Edit contract </h2>
    <form method="post">
        <div class="row mt-1 mb-3">
            <div class="col-5">
                <label> Contract type: </label>
                <select class="mt-2" asp-for="EditContract.ContractType" class="form-control" 
                  asp-items="Html.GetEnumSelectList<ContractType>()">
                    <option value=""> -- Select Contract Type -- </option>
            </select>
            </div>
        </div>
        <input type="text" name="id" asp-for="EditContract.Id" hidden />
        <div class="row mt-1">
            <h5> Weekly hours contracted: </h5>
            <div class="col-md-4"> 
                <p>
                    <label class="w-50"> Minimum: </label>
                    <input class="form-control w-25" type="number" min="0" asp-for="EditContract.MinWeeklyHours"/>  
                </p>
                <span asp-validation-for="EditContract.MinWeeklyHours" class="text-warning"></span>
            </div>
            <div class="col-md-4"> 
                <p>
                    <label class="w-50"> Maximum: </label>
                    <input class="form-control w-25" type="number" min="0" asp-for="EditContract.MaxWeeklyHours" />
                </p> 
                <span asp-validation-for="EditContract.MaxWeeklyHours" class="text-warning"></span>
            </div>
        </div>
        <div class="row mt-1">
            <h5> Weekly days contracted: </h5>
            <div class="col-md-4"> 
                <p>
                    <label class="w-50"> Minimum: </label>
                    <input class="form-control  w-25" type="number" min="0" asp-for="EditContract.MinWeeklyDays" />
                </p>
                <span asp-validation-for="EditContract.MinWeeklyDays" class="text-warning"></span>
            </div>
            <div class="col-md-4"> 
                <p>
                    <label class="w-50"> Maximum: </label>
                    <input class="form-control w-25" type="number" min="0" asp-for="EditContract.MaxWeeklyDays" />
                </p>
                <span asp-validation-for="EditContract.MaxWeeklyDays" class="text-warning"></span>
             </div>   
        </div>
        <div class="row mt-1">
            <h5> Working day shift duration: </h5>
            <div class="col-md-4"> 
                <p>
                    <label class="w-50"> Minimum: </label>
                    <input class="form-control w-25" type="number" min="0" asp-for="EditContract.MinDailyHours" />
                </p>
                <span asp-validation-for="EditContract.MinDailyHours" class="text-warning"></span>
            </div>
            <div class="col-md-4"> 
                <p>
                    <label class="w-50"> Maximum: </label>
                    <input class="form-control w-25" type="number" min="0" asp-for="EditContract.MaxDailyHours" />
                </p>
                <span asp-validation-for="EditContract.MaxDailyHours" class="text-warning"></span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <button class="btn btn-primary" type="submit" value="Save"> Save </button>
                <button class="btn btn-secondary"> Cancel </button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}