@page
@model WorkersTurnScheduler.Pages.SchedulerArea.Worker.IndexModel
@{
}


<div class=".container">
    <div class="row" > 
        <div class="col-4"> 
            <label> Name: </label>
            <label> @Model.Worker.Name </label>
        </div>
        <div class="col-4">
            <label> Name: </label>
            <label> @Model.Worker.Surname </label>
        </div>
        <div class="row"> 
            <a href=@($"./{@Model.Worker.Id}/Contract/Index")><button class="btn-primary">Contract</button></a>
            <button class="btn-primary"> Availability </button>
            <button class="btn-secondary"> Back</button>
        </div>
    </div>
</div>